/*
 * Nokia N900 Device Tree.
 *
 * Based on the Linux one.
 */

#include "Skeleton.dtsi"
#include "OMAP3.dtsi"

/ {
    compatible = "N88AP", "nokia,omap3-n900", "ti,omap3430", "ti-omap3", "AppleARM";
    model = "Nokia N900";

    /*
     * GPIO device keys.
     */
    gpio_keys {
        compatible = "gpio-keys";

        camera_lens_cover {
            label = "Camera Lens Cover";
            gpios = <&gpio4 14 1>; /* 110 */
            AAPL,input-type = <5>; /* EV_SW */
            AAPL,code = <0x09>; /* SW_CAMERA_LENS_COVER */
            gpio-key,wakeup;
        };

        camera_focus {
            label = "Camera Focus";
            gpios = <&gpio3 4 1>; /* 68 */
            AAPL,code = <0x210>; /* KEY_CAMERA_FOCUS */
            gpio-key,wakeup;
        };

        camera_capture {
            label = "Camera Capture";
            gpios = <&gpio3 5 1>; /* 69 */
            AAPL,code = <0xd4>; /* KEY_CAMERA */
            gpio-key,wakeup;
        };

        lock_button {
            label = "Lock Button";
            gpios = <&gpio4 17 1>; /* 113 */
            AAPL,code = <0x98>; /* KEY_SCREENLOCK */
            gpio-key,wakeup;
        };

        keypad_slide {
            label = "Keypad Slide";
            gpios = <&gpio3 7 1>; /* 71 */
            AAPL,input-type = <5>; /* EV_SW */
            AAPL,code = <0x0a>; /* SW_KEYPAD_SLIDE */
            gpio-key,wakeup;
        };

        proximity_sensor {
            label = "Proximity Sensor";
            gpios = <&gpio3 25 1>; /* 89 */
            AAPL,input-type = <5>; /* EV_SW */
            AAPL,code = <0x0b>; /* SW_FRONT_PROXIMITY */
        };
    };

    /*
     * SDRAM allocation.
     */
    memory {
        device_type = "memory";
        reg = <0x80000000 0x10000000>; /* 256 MB */
    };
};
